pandas
numpy 
regex 
matplotlib 
seaborn 
nltk 
wordcloud  
langchain 
langchain_huggingface 
transformers  
sentence-transformers 
openpyxl  
langchain_chroma 
accelerate  
huggingface_hub
ipywidgets
ipykernel
gradio
